@import "variables";
@import 'constants';
@import "mixins";
@import 'functions';

@import 'shared';

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

h1,h2{
    font-weight: $bold;
}

ul{
    list-style-type: none;
}