.header{
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, rgba(#000,0.9), rgba(#000,0.6)), $fm_red;
    font-size: 1.2rem;
    position: relative;

    &.container{
        flex-direction: row;
        justify-content: space-between;
        
    }
    
    &__logo{
        display: inline-block;
        flex: 1;
        color: transparent;
        height: 40px;
        width: auto;
        background: url("../images/logo.svg") center center no-repeat;
       
    }

    &__nav{
           
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }
    
    

    &::after{
        content : "";        
        position: absolute;
        top : 100%;
        left: 0;
        width: 100%;
        height: 20px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 20%, 0 0);
        background-image: linear-gradient(to right, darken(#FF5500, 15%) 0%, darken(#FF5500, 10%) 100%);
       
    }
    
}

.menu-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    &.open{
        visibility: visible;
        background: darken($fm_orange,15%);
        position: absolute;
        height: 100vh;
        z-index: 1;
        width: 100%;
        top : 0;
        right: 0;
    }

}

.menu-btn{
    width: 28px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    margin-right: 2rem;
    z-index: 1;

    @include transition-ease-in-out;

    &__ham{
        position: absolute;
        top : 11px;
        right: 0;
        height: 2px;
        width: 28px;
        background: #ccc;
        @include transition-ease-in-out;

        &::before{
            content: '';
            background: #ccc;
            position: absolute;
            top: -11px;
            right: 0;
            height: 2px;
            width: 28px;
        }
        &::after{
            content: '';
            background: #ccc;
            position: absolute;
            top: 11px;
            right: 0;
            height: 2px;
            width: 28px;
        }

        &.open{
            background: transparent;
            transform: rotate(720deg);
            
            &::before{
                transform: rotate(45deg) translate(12px, 8px);
                
            }
            &::after{
                transform: rotate(-45deg) translate(8px, -4px);
                
            }

        }

        
    }

   

   
    
}