.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(#000,0.9), rgba(#000,0.6)), $fm_red;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    z-index: 2;

    
    &__logo{

        display: block;       
        flex : 1;
        color: transparent;
        height: 40px;
        width: auto;
        background: url("../images/logo.svg") center center no-repeat;
       
    }

    &__nav{
        //includes two classes .menu-nav and .menu-btn
           flex: 1;
           display: flex;
           justify-content: space-between;
           align-items: center;
    }
    
    

    &::after{
        content : "";        
        position: absolute;
        top : 100%;
        left: 0;
        width: 100%;
        height: 20px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 20%, 0 0);
        background-image: linear-gradient(to right, darken(#FF5500, 15%) 0%, darken(#FF5500, 10%) 100%);
       
    }
    
}

.menu-nav{
    border: 1px solid white;
    display: flex;
    align-items: center;
    visibility: hidden;

    &.open{
        visibility: visible;
        background: darken($fm_orange,15%);
        position: absolute;
        height: 100vh;
        z-index: 1;
        width: 100%;
        top : 0;
        right: 0;
    }

}

.menu-btn{
    width: 2rem;
    height: 1rem;
    cursor: pointer;
   
    position: absolute;
    right : 0.5rem;
    @include transition-ease-in-out;

    &__ham{
        position: absolute;
        z-index: 2;
        top: 0.5rem;
        left: 0;
        height: 2px;
        width: 100%;
        background: #ccc;
        @include transition-ease-in-out;

        &::before{
            content: '';
            position: absolute;
            top: -.5rem;
            left: 0;            
            background: #ccc;
            width: 100%;
            height: 100%;
        }
        &::after{
            content: '';
            position: absolute;
            top: .5rem;
            right: 0;            
            background: #ccc;
            width: 100%;
            height: 100%;
        }
       

        &.open{
            background: transparent;
            transform: rotate(720deg);
            
            &::before{
                transform: rotate(45deg) translate(0.29rem, 0.25rem);
                
            }
            &::after{
                transform: rotate(-45deg) translate(0.5rem, -0.4rem);
                
            }

        }

        
    }

   

   
    
}