.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(#000,0.9), rgba(#000,0.6)), $fm_red;
    font-size: 1rem;
    padding: .5rem;
    z-index: 2;

    
    &__logo{
        
        display: block;           
        color: transparent;
        height: 3rem;
        width: 14rem;
        background: url("../images/logo.svg") center center no-repeat;
       
    }

    &__nav{
        //includes two classes .menu-nav and .menu-btn
           position: absolute;
           top : 0;
           left: 0;           
           width: 100%;   
    }
    
    &::after{
        content : "";        
        position: absolute;
        top : 100%;
        left: 0;
        width: 100%;
        height: 20px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 20%, 0 0);
        background-image: linear-gradient(to right, darken(#FF5500, 15%) 0%, darken(#FF5500, 10%) 100%);       
    }


    @include view-lg{
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1.05rem;
        flex-wrap: wrap;

        padding: .5rem 0;

        &__logo{
            flex:1;
        }
        &__nav{
            position: static;
            min-width: 60%;
            flex:1;
        }
    }
    
}

.menu-nav{
    
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    overflow: hidden;
    
    

    &.open{
        transform: translateY(0);
        flex-direction: column;
        visibility: visible;
        background: $primary-color;
        position: absolute;
        height: 100vh;
        z-index: 1;
        width: 100%;
        top : 0;
        right: 0;
        
        
    }

    &__item{
        margin-bottom: 2rem;
        text-transform: uppercase;
        @include transition-ease-in-out;
        transform: translateX(100vw);

        &.open{
            transform: translateX(0);
        }
    }


    @include view-lg{
        transform: translateY(0);
        &__item{
            transform: translateX(0);
            margin : 0;
            padding: .5rem;
        }
    }

}

.menu-btn{
    width: 2rem;
    height: 1rem;
    cursor: pointer;
    top:1.5rem;
    position: absolute;
    right : 0.5rem;
    @include transition-ease-in-out;

    &__ham{
        position: absolute;
        z-index: 2;
        top: 0.5rem;
        left: 0;
        height: 2px;
        width: 100%;
        background: #ccc;
        @include transition-ease-in-out;

        &::before{
            content: '';
            position: absolute;
            top: -.5rem;
            left: 0;            
            background: #ccc;
            width: 100%;
            height: 100%;
        }
        &::after{
            content: '';
            position: absolute;
            top: .5rem;
            right: 0;            
            background: #ccc;
            width: 100%;
            height: 100%;
        }       

        &.open{
            background: transparent;
            transform: rotate(720deg);
            
            &::before{
                transform: rotate(45deg) translate(0.29rem, 0.25rem);
                
            }
            &::after{
                transform: rotate(-45deg) translate(0.5rem, -0.4rem);
                
            }

        }

        
    }

    @include view-lg{
        visibility: hidden;
    }

   

   
    
}

@for $i from 1 through 5 {
  .menu-nav__item:nth-child(#{$i}) {
    transition-delay: ($i * 0.1s) + 0.15s;
  }  
}