@import 'variables';
@import 'constants';
@import 'mixins';
@import 'functions';

main{
    width: 100%;
    height: 100%;
}

.home{
    color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;

    background: $dotted_image_url, repeat;

    &__content{
        line-height: 1;
        text-align: center;        

        & h1{
            font-size: 3em;
            margin: 1rem;            
        }

        & h2{
            margin : .7rem;
        }
        

    }

    &__buttons{
        margin-top: 3em;
        span{
            border-radius: 30px;  
            color: white;
            font-weight: bold;
            padding: 20px;
            opacity: 0.8;
            margin-right: 10px;
            &:hover{
                opacity: 1;
                cursor: pointer;
            }
        }
        &--left{
            background-color: darken($red, 20%);
        }

        &--right{
            background-color: darken($primary, 15%);
        }        
    }
}

.languages{
    background: #222 linear-gradient(135deg,transparent,rgba(0,0,0,.7));
    height: 15vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before{
        content: '';
        clip-path: polygon(0 70%, 0 100%, 100% 100%, 100% 0);
        background: linear-gradient(to right,#222, #222);
        height: 41px;
        width: 100%;
        color: white;
        display: block;
        position: absolute;
        right:0;
        top:-40px;

    }

    a{
        height:70px;
        width: 70px;
        display: block;
        color: transparent;
        margin: 10px;
    }

    &__javascript{
        background: $js_image_url, center, no-repeat;
        opacity: 0.7;
        &:hover{
            transform: scale(1.1);
            opacity: 1;
            cursor: pointer;
        }
        @include transition-ease-in-out
    }

    &__node{
        @extend .languages__javascript;
        background: $node_image_url, center, no-repeat;
    }

    &__angular{
        @extend .languages__javascript;
        background : $angular_image_url, center, no-repeat;
    }

    &__css{
        @extend .languages__javascript;
        background: $css_image_url, no-repeat;
    }

    &__vue{
        @extend .languages__javascript;
        background: $vue_image_url center/cover no-repeat;       
    }
}


.join_now{
    width: 100%;
    height: 30vh;
    background:   $dotted_image_url, radial-gradient(rgba(#000,0.4),rgba(#000,0.8)) , url("/images/join_now.jpg") center no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__content{    
      text-align: center;
      font-size: 1.5em;
      line-height: 1.5;
      padding: 30px;
    }
    &__button{
        color: text_button_color(white);
        background-color: darken(orange, 7%);
        border-radius: 50px;
        padding: 20px 100px;
        font-size: 1.7em;
    }
    
}


.social-icons{

    width: 100%;
    height: 40vh;

    background: whitesmoke;
}


