@import 'variables';
@import 'constants';
@import 'mixins';
@import 'functions';
@import 'shared';






.home{    
    width: 100%;
    font-size: 1.3rem;
    height: 96%;

    &.container{
        
    }

    background: $dotted_image_url, $bg_sm_image center/cover ;
    
    &__content{
        margin : 1.5em auto;
    }

    &__buttons{        
        display: flex;
        width : 80%;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;

        &--left{
            background-color: darken($fm_orange,10%);
            margin-bottom: 10px;
        }

        &--right{
            background-color: darken($fm_yello,10%);
        }        
    }

    @include view-lg{
        height: 60%;
        &__buttons{
            display: block;
        }
    }
}

.languages{
    background: #222 linear-gradient(135deg,transparent,rgba(0,0,0,.7));
    height: 10%;
    position: relative;
    font-size: 1rem;

    &::before{
        content: '';
        clip-path: polygon(0 70%, 0 100%, 100% 100%, 100% 0);
        background: linear-gradient(to right,#222, #222);
        height: 1.2em;
        width: 100%;
        color: white;
        display: block;
        position: absolute;
        right:0;
        top:-1.2em;

    }

    a{
        height:2em;
        width: 2em;
        display: block;
        color: transparent;
        margin: 10px;
    }

    &__javascript{
        background: $js_image_url, center, no-repeat;
        opacity: 0.7;
        &:hover{
            transform: scale(1.1);
            opacity: 1;
            cursor: pointer;
        }
        @include transition-ease-in-out
    }

    &__node{
        @extend .languages__javascript;
        background: $node_image_url, center, no-repeat;
    }

    &__angular{
        @extend .languages__javascript;
        background : $angular_image_url, center, no-repeat;
    }

    &__css{
        @extend .languages__javascript;
        background: $css_image_url, no-repeat;
    }

    &__vue{
        @extend .languages__javascript;
        background: $vue_image_url center/cover no-repeat;       
    }
}


.join_now{
    width: 100%;
    height: 35vh;
    background:   $dotted_image_url, radial-gradient(rgba(#000,0.4),rgba(#000,0.8)) , url("/images/join_now.jpg") center no-repeat;   
    font-size: 1rem;

    &.container{
        flex-direction: column;
    }
    
    &__content{
        margin : 2em auto;                             
    }

    &__button{
                                      
            background-color: darken(orange,10%);                      
    }
                        
}


.social-icons{

    width: 100%;
    height: 40vh;

    background: whitesmoke;
}


