@import "config";
@import "header";
@import "main";

body{      
    background-color: #000;    
    font-family: 'Roboto', sans-serif;
    line-height : 1;
    overflow-x: hidden;

    a{
        text-decoration: none;
        color: lightgray;
    }

    h1,h2{
        font-weight: 700;
    }
    
}

#video{
    position: absolute;
    top:50%;
    left: 50%;
    min-width: 100%;
    background-size: cover;        
    z-index: -1;
    transform: translate(-50%,-50%);


}




